<a href="https://colab.research.google.com/github/psmjazz/corona_virus/blob/master/corona.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import os
from google.colab import files

In [0]:
os.getcwd()
table = pd.read_csv('Case.csv')

In [0]:
table

    case_id          province  ...   latitude   longitude
0   1000001             Seoul  ...  37.508163  126.884387
1   1000002             Seoul  ...  37.592888  127.056766
2   1000003             Seoul  ...   37.63369    126.9165
3   1000004             Seoul  ...   37.55713    127.0403
4   1000005             Seoul  ...   37.57681     127.006
..      ...               ...  ...        ...         ...
76  6100004  Gyeongsangnam-do  ...   35.22115    128.6866
77  6100005  Gyeongsangnam-do  ...   35.54127    128.5008
78  6100006  Gyeongsangnam-do  ...          -           -
79  6100007  Gyeongsangnam-do  ...          -           -
80  7000001           Jeju-do  ...          -           -

[81 rows x 8 columns]